#instruccionAlternativa
bin/instruccionAlternativa/Ej1LogitudDeLadosDeUnTriangulo.class
bin/instruccionAlternativa/Ej3LetraDelDNI.class
bin/instruccionAlternativa/Ej4ReintegroONCE.class
bin/instruccionAlternativa/Ej5SolucionesEcuacion2Grado.class
bin/instruccionAlternativa/Ej6FechaDiaSiguiente.class
bin/instruccionAlternativa/Ej7CuantasCifrasTiene.class
bin/instruccionAlternativa/Ej10NotaPorEscrito.class
bin/instruccionAlternativa/Ej11NumeroPorEscrito.class
bin/instruccionAlternativa/Ej12HoraConSegundoSiguiente.class
src/instruccionAlternativa/Ej1LogitudDeLadosDeUnTriangulo.java
src/instruccionAlternativa/Ej3LetraDelDNI.java
src/instruccionAlternativa/Ej4ReintegroONCE.java
src/instruccionAlternativa/Ej5SolucionesEcuacion2Grado.java
src/instruccionAlternativa/Ej6FechaDiaSiguiente.java
src/instruccionAlternativa/Ej7CuantasCifrasTiene.java
src/instruccionAlternativa/Ej10NotaPorEscrito.java
src/instruccionAlternativa/Ej11NumeroPorEscrito.java
src/instruccionAlternativa/Ej12HoraConSegundoSiguiente.java


#otros
ejemplosArray/
pruebasStream/
pruebasString/
pruebasVentana/
